:root {
  --color-primary: #ff7b54;
  --color-on-primary: #ffffff;
  --font-family: Inter;
  --font-size: 1.25rem;
  --text-color-black: #000000;
}
* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.body__primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 36px;
}
.nav__list-item {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 0 60px;
  gap: 36px;
}
.header .header__title {
  flex-basis: 100%;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.shopping-cart {
  cursor: pointer;
  height: 30px;
  min-width: 34px;
}
.body__secondary {
  color: var(--color-primary);
  background-color: var(--color-on-primary);
}
.body__secondary .shopping-cart path {
  fill: var(--color-primary);
}
.body__secondary .header__title {
  color: var(--color-primary);
}
.main {
  padding: 150px 150px 0 150px;
  margin-bottom: 100px;
}
